.Chat-main
  .main-header
    .main-header__group
      .groupName
        = @group.name
      .memberList
        Member：
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group.id), class:"edit-btn" do
      Edit

  .MessageField
    = render @messages

  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'submit-btn'